<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
	  <!-- if the css gone wrong, uncomment this
	  <include path="~/Content/Site.css"/> -->
	<include path="~/Content/bootstrap-theme.css"/>
	<include path="~/Content/bootstrap-theme.min.css"/>
	<include path="~/Content/bootstrap.css"/>
	<include path="~/Content/bootstrap.min.css"/>
	  
	<include path="~/Content/boxicons/css/boxicons.css" />
	<include path="~/Content/boxicons/css/boxicons.css" />
	<include path="~/Content/boxicons/bootstrap-icons/bootstrap-icons.css"/>


  </styleBundle>
</bundles>